feelback-venv
feelback/quiz/migrations/__pycache__/0001_initial.cpython-312.pyc
feelback/quiz/__pycache__/views.cpython-312.pyc
feelback/quiz/__pycache__/__init__.cpython-312.pyc
feelback/quiz/__pycache__/admin.cpython-312.pyc
feelback/quiz/__pycache__/apps.cpython-312.pyc
feelback/quiz/__pycache__/models.cpython-312.pyc
feelback/quiz/__pycache__/urls.cpython-312.pyc
feelback/quiz/migrations/__pycache__/__init__.cpython-312.pyc
feelback/feelback/__pycache__/wsgi.cpython-312.pyc
feelback/feelback/__pycache__/__init__.cpython-312.pyc
feelback/feelback/__pycache__/settings.cpython-312.pyc
feelback/feelback/__pycache__/urls.cpython-312.pyc
feelback/feelback/__pycache__/wsgi.cpython-312.pyc
