{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>FeelBack - Accueil</title>
    <link rel="stylesheet" href="{% static 'quiz/css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Rajdhani:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo-container">
                <img src="{% static 'feelback/images/logo.png' %}" alt="Logo FeelBack" class="header-image">
            </div>
            <h2>FeelBack</h1>
            <p>Le questionnaire de satisfaction</p>
        </div>
    </header>
    <main>
        <a href="{% url 'dashboard' %}" class="button button-grey">CONSULTER LE TABLEAU DE BORD</a>
        <h2>Bienvenue sur l'application FeelBack</h2>
        <p>Cette application vous permet d'évaluer la livraison de votre commande</p>
        <button onclick="location.href='{% url 'submitfeedback' %}'">CREER UNE COMMANDE FICTIVE ET REPONDRE AU QUESTIONNAIRE</button>
    </main>
    
    <footer>
        <div class="footer-content">
            <span>© 2024 | FeelBack</span>
        </div>
    </footer>
    
</body>
</html>
