/* Style global */

body {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
    height: 100vh;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}



header {
    background-image: url("{% static 'feelback/images/header.png' %}");  
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover; 
    padding: 0.5px 0;  
    color: #000;  
    flex-shrink: 0;  
}

h1 {
    font-size: 2.5rem;  
    margin: 10px 0; 
}
p {
    font-size: 1.2rem;  
    margin-top: 5px;
    color: #666;
}

.back-button {
    background-color: #4a4a4a;
    color: white;
    padding: 15px;  
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block;  
    width: 100%;  
    max-width: 300px;  
    margin: 0 auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.back-button:hover {
    background-color: #333; 
    transform: translateY(-2px); 
}



.dashboard {
    background-color: white;
    padding: 15px; 
    max-width: 700px; 
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

.dashboard h2 {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 10px;
}

.dashboard p {
    font-size: 0.9rem;
    color: #0d0d0d;
    margin-bottom: 20px;
}

.statistics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.stat-box {
    background-color: #0050FF;
    color: rgb(36, 11, 11);
    padding: 10px; 
    border-radius: 8px;
    width: 120px;  
    text-align: center;
    margin: 5px;  
}

.stat-box .stat-value {
    font-size: 1.3rem; 
    font-weight: bold;
}

.stat-box .stat-label {
    margin-top: 5px;
    font-size: 0.9rem;  
}
footer {
    background-color: #EAEAEA;
    padding: 10px; 
    color: #666;
    text-align: center;
    font-size: 0.8rem;
    flex-shrink: 0;
}