body {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    text-align: center;
}

header {
    background-color: #fff;
    padding: 10px 0; /* Réduit pour moins d'espacement autour de l'image */
    
}

.logo-container {
    display: inline-block;
    width: 100px;
    height: 100px;
}

h2 {
    color: #333;
    font-size: 24px;
}

p {
    color: #333;
    font-size: 16px;
    margin-bottom: 20px;
}
main {
    width: 60%;
    margin: 20px auto; /* Centre le conteneur avec un espacement autour */
    text-align: left; /* Aligne le texte à gauche */
}

.back-link {
    color: #ffffff;
    background-color: #6c757d; /* Ajusté pour correspondre à l'image */
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 20px;
}

.back-link:hover {
    background-color:  #5a6268 ;
}

.statistics {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.stat {
    background-color: #0003cd; /* Vérifiez la correspondance de couleur */
    color: white;
    padding: 40px;
    width: 15%; /* Ajustement pour l'alignement */
    height: 120px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajout de l'ombre pour la profondeur */
}

.stat .number {
    font-size: 2em;
}

.stat .desc {
    font-size: 1em;
}

footer {
    background-color: #adaaaa; /* Background color */
    color: #000000; /* Text color */
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
    height: 100px;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content span {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
}
