body {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
}

header {
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 2px solid #cccccc;
}

.header-image {
    width: 50%;
    height: auto;
}

.back-link {
    color: #333;
    background-color: #e0e0e0; /* Ajusté pour correspondre à l'image */
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
}

.back-link:hover {
    background-color: #cccccc;
}

.statistics {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.stat {
    background-color: #007bff; /* Vérifiez la correspondance de couleur */
    color: white;
    padding: 20px;
    width: 22%; /* Ajustement pour l'alignement */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajout de l'ombre pour la profondeur */
}

.stat .number {
    font-size: 2em;
}

.stat .desc {
    font-size: 1em;
}

footer {
    background-color: #adaaaa; /* Background color */
    color: #000000; /* Text color */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
    height: 100px;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content span {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
}
