body {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    text-align: center;
}

header {
    background-color: #fff;
    padding: 10px 0; /* Réduit pour moins d'espacement autour de l'image */
    
}

.logo-container {
    display: inline-block;
    width: 100px;
    height: 100px;
}

h2 {
    color: #333;
    font-size: 24px;
}

p {
    color: #666;
    font-size: 16px;
}
main {
    width: 60%;
    margin: 10px 30px;
    text-align: left;
}

.question {
    margin: 20px 0;
    display: block; /* Force la question à occuper toute la largeur */
}

.question label {
    display: block; /* Force le label (la question) à occuper une ligne entière */
    margin-bottom: 10px; /* Espacement entre la question et les boutons radio */
    font-weight: bold; /* Met en valeur la question */
}

input[type="radio"] {
    margin-right: 5px;
}

.radio-group {
    display: flex;
    gap: 10px; /* Espace entre chaque bouton radio */
}


.back-link {
    color: #ffffff;
    background-color: #6c757d; /* Ajusté pour correspondre à l'image */
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 20px;
}

.back-link:hover {
    background-color:  #5a6268 ;
}
button, .button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;

    cursor: pointer;
    margin: 20px auto;
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #adaaaa; /* Background color */
    color: #000000; /* Text color */
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
    height: 100px;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content span {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
}

