body {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
}

header {
    background-color: #fff;
    padding: 10px 0; /* Réduit pour moins d'espacement autour de l'image */
    border-bottom: 2px solid #cccccc;
}

.header-image {
    width: 50%; /* Ajuste cela pour contrôler la taille de l'image */
    height: auto;
}

h1, p {
    margin: 0;
    padding: 5px 0;
}

h2 {
    color: #333;
    font-size: 24px;
}

p {
    color: #666;
    font-size: 16px;
}

.button, button {
    margin: 20px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.button:hover, button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.8em;
}
