body {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    text-align: center;
}

header {
    background-color: #fff;
    padding: 10px 0; /* Réduit pour moins d'espacement autour de l'image */
    
}

.logo-container {
    display: inline-block;
    width: 100px;
    height: 100px;
}

h2 {
    color: #333;
    font-size: 24px;
}

p {
    color: #666;
    font-size: 16px;
}

.question {
    margin: 20px 0;
}

input[type="radio"] {
    margin-right: 5px;
}
/* Align content to the left */
main {
    text-align: left;
    padding-left: 20px; /* Adds padding to the left to space out the content */
}

h2 {
    color: #333;
    font-size: 24px;
    margin-top: 20px;
}

p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

.button-grey {
    background-color: #6c757d !important; /* Ensure grey color is applied */
    color: white;
}

.button-grey:hover {
    background-color: #5a6268 !important; /* Ensure hover effect is applied */
}

.button, button {
    margin: 20px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.button:hover, button:hover {
    background-color: #0056b3;
}


footer {
    background-color: #adaaaa; /* Background color */
    color: #000000; /* Text color */
    text-align: center;
    padding: 10px;
    margin-top: 80px;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
    height: 100px;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content span {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
}
